<div>
  <div class="jumbotron">
    <h3>
      Tossups for {{ packet.name }} in {{ tournament.year }} {{ tournament.name }}
    </h3>
  </div>
  <table class="table table-striped" tossup-table tossups="tossups"></table>

  <div class="jumbotron">
    <h3>
      Bonuses for {{ packet.name }} in {{ tournament.year }} {{ tournament.name }}
    </h3>
  </div>
  <table class="table table-striped" bonus-table bonuses="bonuses"></table>

  <a href="/viewtour/{{tournament.id}}">Back to {{ tournament.year }} {{ tournament.name }} packets</a>

</div>
