<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{> header }}
  </head>
  <body>
    <div class="container">
    	<div class="row">
    		{{> sidebar }}
        <div class="col-md-8">
          <h4>QBDB FAQ!</h4>
          <ul>
            <li>This website was developed by Jerry Vinokurov, Arnav Sastry,
            and <strong>Alex Freed</strong></li>
          </ul>
    		</div>
    	</div>
    </div>
  </body>
</html>
