<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/smoothness/jquery-ui-1.10.0.custom.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
<link rel='stylesheet' href='/stylesheets/font-awesome/css/font-awesome.css' />
<script type="text/javascript" src="/js/jquery-2.0.2.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.10.0.custom.js"></script>
<script type="text/javascript" src="/js/json2.js"></script>
<script type="text/javascript" src="/js/underscore.js"></script>
<script type="text/javascript" src="/js/backbone.js"></script>
<script type="text/javascript" src="/js/moment.js"></script>
<script type='text/javascript' src='/js/bootstrap.js'></script>
<script type='text/javascript' src='/js/sprintf.js'></script>