<div class="col-md-2">
  <!--	<div class="well"> -->
		<ul class="nav nav-pills nav-stacked">
	    	<li class="active"><a href="/"><i class="icon-fixed-width icon-home"></i> Home</a></li>
	    	<li><a href="/alltournaments"><i class="icon-fixed-width icon-book"></i> All Tournaments</a></li>
	    	{{#if tournaments}}
	    		{{#each tournaments}}
	    			<li><a href="/tournaments/year/{{ this }}"><i class="icon-fixed-width icon-chevron-right"></i>{{ this }}</a></li>
	    		{{/each}}
	    	{{/if}}
	    	<li><a href="/faq"><i class="icon-fixed-width icon-question"></i>FAQ</a></li>
		</ul>
    <!--</div>-->
</div>
