<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{> header }}
  </head>
  <body>
    <div class="container-fluid">
    	<div class="row-fluid">
    		{{> sidebar }}
    		<div class="span8">
    			{{#if packet}}
    				{{#if tossups}}
	    				<div class='hero-unit'>
	    					<h3>
	    						Tossups for {{ packet.author }} in {{ packet.tournament.tournament }}
	    					</h3>
	    				</div>
	    				<table class="table table-striped">
	    					
	    					{{#each tossups}}
		    					<tr>
		    						<td>
		    							<p>
		    								{{{ question }}}
		    							</p>
		    							<p>
		    								ANSWER: {{{ answer }}}
		    							</p>
		    						</td>
		    					</tr>
	    					{{/each }}

	    				</table>
    				{{/if}}
    				
    				{{#if bonuses }}
	    				<div class='hero-unit'>
	    					<h3>
	    						Bonuses for {{ packet.author }} in {{ packet.tournament.tournament }}
	    					</h3>
	    				</div>
	    				<table class="table table-striped">
	    					
	    					{{#each bonuses}}
		    					<tr>
		    						<td>
		    							<p>
		    								{{{ leadin }}}
		    							</p>
		    							{{#each parts}}
			    					
			    							<p>
			    								[{{ value }}] {{{ part }}}
			    							</p>
			    							<p>
			    								ANSWER: {{{ answer }}}
			    							</p>

			    						{{/each}}
		    						</td>
		    					</tr>
	    					{{/each }}
	    				</table>
    				{{/if}}		
    			{{/if}}
    		</div>
    	</div>
    </div>
  </body>
</html>