<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{> header }}
  </head>
  <body>
    <div class="container">
    	<div class="row">
    		{{> sidebar }}
    		<div class="col-md-8">
    			{{#if packets }}
    				<div class='hero-unit'>
    					<h3>
    						Packets for {{ packets.[0].tournament.tournament }}
    					</h3>
    				</div>
            <ul class="icons-ul">
    					{{#each packets }}
    						<li>
    							<a href="/viewquestions/{{ _id }}">
    								<i class="icon-fixed-width icon-double-angle-right"></i>
    								{{ author }}
    							</a>
    						</li>
    					{{/each}}
    				</ul>
    			{{/if}}
    		</div>
    	</div>
    </div>
  </body>
</html>
