<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{> header }}
  </head>
  <body>
    <div class="container">
    	<div class="row">
    		{{> sidebar }}
    		<div class="col-md-8">
    			{{#if packet}}
    				{{#if tossups}}
	    				<div class="jumbotron">
	    					<h3>
	    						Tossups for {{ packet.author }} in {{ packet.tournament.tournament }}
	    					</h3>
	    				</div>
	    				<table class="table table-striped">
	    					
	    					{{#each tossups}}
		    					<tr>
		    						<td>
		    							<p>
		    								{{{ question }}}
		    							</p>
		    							<p>
		    								ANSWER: {{{ answer }}}
		    							</p>
		    						</td>
		    					</tr>
	    					{{/each }}

	    				</table>
    				{{/if}}
    				
    				{{#if bonuses }}
	    				<div class="jumbotron">
	    					<h3>
	    						Bonuses for {{ packet.author }} in {{ packet.tournament.tournament }}
	    					</h3>
	    				</div>
	    				<table class="table table-striped">
                {{#each bonuses}}
		    					<tr>
		    						<td>
		    							<p>
		    								{{{ leadin }}}
		    							</p>
                      {{#each parts}}
                      <p> [{{this.[0]}}] {{{this.[1]}}}</p>
                      <p> ANSWER: {{{this.[2]}}} </p>
                      {{/each}}
		    						</td>
		    					</tr>
	    					{{/each }}
	    				</table>
    				{{/if}}		
    			{{/if}}
    		</div>
    	</div>
    </div>
  </body>
</html>
