<table cellspacing='0' class='table table-striped'>
  <tr ng-repeat-start="tossup in tossups">
    <td>{{tossup.subject.subject}}</td>
    <td>
      <label>
        Reported: 
        <input type="checkbox" disabled class="btn btn-primary" ng-model='tossup.flagged' />
      </label>
    </td>
    <span>
      <td>{{tossup.packet.name}}</td>
      <td>{{tossup.packet.tournament.name}}</td>
      <td>{{tossup.packet.tournament.year}}</td>
    </span>
  </tr>
  <tr ng-repeat-end>
    <td colspan="5">
      <p ng-bind-html="tossup.question"></p>
      <p ng-bind-html="tossup.answer | answer"></p>
    </td>
  </tr>
</table>
