<table cellspacing='0' class='table table-striped'>
  <tr ng-repeat-start="tossup in tossups">
    <td>{{tossup.subject.subject}}</td>
    <td>
      <label>
        Reported: 
        <input type="checkbox" disabled class="btn btn-primary" ng-model='tossup.flagged' />
      </label>
    </td>
    <td>{{ tossup.packet.name }}</td>
    <td>{{ tossup.packet.tournament.name }}</td>
    <td>{{ tossup.packet.tournament.year }}</td>
    <td>{{ tossup.rank | number:2 }}</td>
  </tr>
  <tr ng-repeat-end>
    <td colspan="6">
      <p ng-bind-html="tossup.question"></p>
      <p ng-bind-html="tossup.answer | answer"></p>
    </td>
  </tr>
</table>
